/* Variables declaradas aquí: estos son los colores de nuestras páginas, así como las pilas de fuentes y los tamaños. */

:root {
    --dark-blue-100: #609ed4;
    --dark-blue-200: #356ea9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;
    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #495057;
    --gray-500: #343A40;
    --light-blue-100: #F3F5FC;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500: #757FB2;
}

html, 
body {
    font-family: "Inter", sans-serif;
    box-sizing: border-box; 
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 1024px;

}
*, *:before, *:after {
    box-sizing: inherit;
}
/*
@media (min-width: 768px) {

    .wrapper {
        background-color: #356ea9;

    }
    aside {
       
    }

    .AreaDeTexto {
        width: 688px;
        height: 48px;
        margin-top: 240px;
        margin-left: 40px;
        font-weight: 400px;
        font-size: 32px;
        line-height: 48px;
        border: 1px solid greenyellow;
    }
    #alerta {
        width: 229px;
        height: 18px;
        margin-top: 836px;
        margin-left: 40px;
        display: flex;
        gap: 8px;
        border: 1px solid gold;

    }

}
*/