@import 'base.css';

/* estilos genéricos para la página */
.wrapper {
    position: relative;
    background: var(--light-blue-100);
    width: 75%;
    margin: 0 auto;
}

#logo {
    width: 120px;
    height: 48px;
    margin: 2.5rem 80rem 58.5rem 2.5rem;
    position: absolute;
}

.AreaDeTexto {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    width: 680px;
    height: 388px;
    margin: 168px 0px 0px 240px;
    position: absolute;
    border: none;
    background: none;
    color: var(--dark-blue-300);
}

.AreaDeTexto::placeholder {
    color: var(--dark-blue-300) 
}

.AreaDeTexto:focus,
.AreaDeTexto:active {
    border: none;
    outline: none;
}

#frame-1,
#alerta p {
    width: 252px;
    height: 18px;
    margin: 851px 0px 0px 240px;
    display: flex;
    gap: 8px;
    font-size: 12px;
    position: absolute;
    flex-direction: row;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #495057;
} 

#frame-1 img {
    width: 16px;
    height: 16px;
}

#frame-3 {
    margin: 885px 520px 0px 240px;
    width: 680px;
    height: 67px;
    display: flex;
    gap: 24px;
    position: absolute;
}

#frame-3 button {
    width: 328px;
    height: 67px;
    padding: 24px;
    border-radius: 24px;
}

#frame-3 #boton-1,
#frame-3 #boton-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    text-align: center;
    border: 1px solid var(--dark-blue-300);

}

#frame-3 #boton-1 {
    background-color: #0A3871;
    color: #FFFFFF;
}

#frame-3 #boton-2 {
    background-color: #D8DFE8;
    color: #0A3871;
}


.textoEncriptado {
    width: 336px;
    height: 781px;    
    position: absolute;
    margin: 32px 32px 131px 32px;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
}

.textoEncriptado:placeholder {
    color: var(--dark-blue-300);
}
.textoEncriptado:focus,
.textoEncriptado:active {
    border: none;
    outline: none;
}

#frame-5 button {
    width: 21rem;
    height: 67px;
    margin: 225px auto;
    position: absolute;
    border-radius: 24px;
    padding: 24px;
    border: 1px solid var(--dark-blue-300);
    background: var(--light-blue-100);
}

#frame-5 #boton-3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    align-items: center;    
}

.rectangle {
    width: 400px;
    height: 944px;
    position: absolute;
    margin: 40px 40px 40px 1000px;
    border-radius: 32px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.rectangle img {
    position: absolute;
    width: 336px;
    height: 304px;
    margin: 283px 32px 0 32px;
}

.rectangle #frame-5 {
    width: 336px;
    height: 122px;
    margin: 619px 0px 0px 32px;
}

.rectangle h1 {
    width: 336px;
    height: 58px;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    color: var(--gray-500);
}

.rectangle p {
    width: 336px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--gray-400);
}
